<table class="table table-hover">
    <thead>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Editorial</th>
        <th>Coleccion</th>
        <th><input type="text" placeholder="Buscar"></th>
    </thead>
    <tbody>
        <tr *ngFor="let lib of list">
            <td (click)="onEdit(lib)">{{lib.titulo}}</td>
            <td (click)="onEdit(lib)">{{lib.autor}}</td>
            <td (click)="onEdit(lib)">{{lib.editorial}}</td>
            <td (click)="onEdit(lib)">{{lib.coleccion}}</td>
            <td><a class="btn text-danger" (click)="onDelete(lib.id)"><i class="fa fa-trash"></i></a></td>
        </tr>
    </tbody>
</table>